*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    height: 10%;
}

main{
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff
}

.logs{
    background-color: rgb(175, 22, 47);
    width: 20%;
    text-align: center;
    color: black;
}
.form{
    width: 20%;
    height: 80%;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #4B91F7;
    justify-content: center;
    margin-top: 10px;
}

input,button{
    width: 60%;
    padding: 3%;
    margin: 20px;
    outline: none;
    text-align: center;
    border:4px solid rgb(114, 57, 119);;
    border-radius: 20px;
}
button{
    cursor: pointer;
}
button:hover{
    background-color: rgb(114, 57, 119);
    color: white;
    transition: 0.4s;

}
footer{
    height: 10%;
}
